version: "3.4"
services:
  db:
    image: ${DC_POSTGRES_IMAGE}
    container_name: lava-server-db
    environment:
      POSTGRES_USER: lavaserver
      POSTGRES_PASSWORD: lavaserverdbpass
    volumes:
    - db-data:/var/lib/postgresql/data
    restart: unless-stopped

  lava-logs:
    container_name: lava-logs
    image: ${DC_SERVER_IMAGE}
    volumes:
    - joboutput:/var/lib/lava-server/default/media/job-output
    - ./overlays/lava-server/etc/lava-server/instance.conf:/etc/lava-server/instance.conf:ro
    - ./overlays/lava-server/etc/lava-server/settings.conf:/etc/lava-server/settings.conf:ro
    - ./overlays/lava-server/etc/lava-server/lava-logs:/etc/lava-server/lava-logs:ro
    depends_on:
    - db
    environment:
      SERVICES: "lava-logs"
    ports:
    - 5555:5555
    restart: unless-stopped
    stop_grace_period: 20s

  lava-master:
    container_name: lava-master
    image: ${DC_SERVER_IMAGE}
    volumes:
    - devices:/etc/lava-server/dispatcher-config/devices:ro
    - health-checks:/etc/lava-server/dispatcher-config/health-checks:ro
    - ./overlays/lava-server/etc/lava-server/instance.conf:/etc/lava-server/instance.conf:ro
    - ./overlays/lava-server/etc/lava-server/settings.conf:/etc/lava-server/settings.conf:ro
    - ./overlays/lava-server/etc/lava-server/lava-master:/etc/lava-server/lava-master:ro
    - ./overlays/lava-server/etc/lava-server/dispatcher-config/device-types/frdm-k64f.jinja2:/etc/lava-server/dispatcher-config/device-types/frdm-k64f.jinja2:ro
    depends_on:
    - db
    environment:
      SERVICES: "lava-master"
    ports:
    - 5556:5556
    restart: unless-stopped

  lava-publisher:
    container_name: lava-publisher
    image: ${DC_SERVER_IMAGE}
    volumes:
    - ./overlays/lava-server/etc/lava-server/instance.conf:/etc/lava-server/instance.conf:ro
    - ./overlays/lava-publisher/etc/lava-server/settings.conf:/etc/lava-server/settings.conf:ro
    environment:
      SERVICES: "lava-publisher"
    ports:
    - 5500:5500
    restart: unless-stopped

  lava-server:
    container_name: lava-server
    image: ${DC_SERVER_IMAGE}
    volumes:
    - devices:/etc/lava-server/dispatcher-config/devices
    - health-checks:/etc/lava-server/dispatcher-config/health-checks
    - joboutput:/var/lib/lava-server/default/media/job-output
    - ./overlays/lava-server/etc/lava-server/instance.conf:/etc/lava-server/instance.conf:ro
    - ./overlays/lava-server/etc/lava-server/settings.conf:/etc/lava-server/settings.conf:ro
    - ./overlays/lava-server/etc/lava-server/dispatcher-config/device-types/frdm-k64f.jinja2:/etc/lava-server/dispatcher-config/device-types/frdm-k64f.jinja2:ro
    depends_on:
    - db
    environment:
      SERVICES: "gunicorn"
      BIND: "--bind lava-server:8000"
    restart: unless-stopped

  apache2:
    container_name: apache2
    image: ${DC_SERVER_IMAGE}
    volumes:
    - ./overlays/lava-server/etc/apache2/sites-available/lava-server.conf:/etc/apache2/sites-available/lava-server.conf:ro
    depends_on:
    - lava-server
    environment:
      SERVICES: "apache2"
    ports:
    - 80:80
    restart: unless-stopped

  lava-dispatcher:
    container_name: lava-dispatcher
    #image: ${DC_DISPATCHER_IMAGE}
    build:
      context: ./lite-lava-dispatcher
      args:
        DC_DISPATCHER_IMAGE: ${DC_DISPATCHER_IMAGE}
    devices:
#    - /dev/kvm # needed for QEMU
    - /dev/net/tun # needed for QEMU
    security_opt:
    - apparmor:unconfined # needed for usb mass storage
    cap_add:
    - NET_ADMIN # needed for QEMU
    - SYS_ADMIN # needed for usb mass storage
    environment:
      DISPATCHER_HOSTNAME: "--hostname=lava-dispatcher"
      LOGGER_URL: "tcp://lava-logs:5555"
      MASTER_URL: "tcp://lava-master:5556"
    volumes:
    - /run/udev/control:/run/udev/control:ro # libudev expects it for udev events
    - /boot:/boot:ro
    - /lib/modules:/lib/modules:ro
      # Example for development
      # If you wanted to point to a local git checkout of lava for development
      # of lava_dispatcher, you can uncomment out the lines below and
      # set the 'source:' to point to where your lava checkout is
      # The example assumes its relative in ../lava
      #
#    - type: bind
#      source: ../lava/lava_dispatcher
#      target: /usr/lib/python3/dist-packages/lava_dispatcher

  ser2net:
    container_name: lava-ser2net
    build:
      context: ./ser2net
    volumes:
    - type: bind
      source: ./ser2net/ser2net.conf
      target: /etc/ser2net.conf

volumes:
  db-data:
    name: lava-server-pgdata
  devices:
    name: lava-server-devices
  health-checks:
    name: lava-server-health-checks
  joboutput:
    name: lava-server-joboutput
