{% extends 'nucleo-l552ze-q.jinja2' %}
{% set board_id = '066AFF353638425043085317' %}
{% set device_info = [{'board_id': '066AFF353638425043085317'}] %}
{% set usb_mass_device = '/dev/disk/by-id/usb-MBED_microcontroller_066AFF353638425043085317-0:0' %}
{% set connection_command = 'telnet ser2net 5003' %}
